/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 500;
   font-size: 1rem;
   text-transform: capitalize;
   line-height: 1.6rem;
   padding-top: 1.5rem;
   min-height: 100vh;
   background-color: #ffffff;
   
}

h1 {
  font-size: 2rem;
  line-height: 2.8rem;
  padding-left: 1rem;
  text-align: center;
}

input {
  max-width: 300px;

}

.btn {
  font-size: 1.1rem;
  font-weight: inherit;
  color: #212529;
  background-color: rgb(91, 126, 250);
}


.pokemon-list {
  width: 500px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
}

.modal-body img {
  display: block;
  width: 100;
  height: auto;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  input {
    max-width: 200px;
  }
}