/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
 
 
 body{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
     font-size: 20px;
     line-height: 1.3;
     background-color: #fbbaed;
}